<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-2">
      <form class="form-inline">
        <input name="n1" type="number" class="form-control" [(ngModel)]="num1">
      </form>
    </div>
    <div class="col-md-1 operator">
      +
    </div>
    <div class="col-md-2">
      <form class="form-inline">
        <input name="n2" type="number" class="form-control" [(ngModel)]="num2">
      </form>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" (click)="onSum()">Calculate</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h2>Result: {{ sum }}</h2>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
